.bg-dark {
    background-color: #000000ab!important;

}
#navbar{
    transition: height 0.15s ease-in;
    height: 50px;
    z-index: 99;

}
.nav-link-container a{
    display: block;
    padding: .5rem 1rem;
    padding-right: .5rem;
    padding-left: .5rem;
    padding: 16px;

}
.nav-link-container a:hover{
    background:#c7081b !important;
    text-decoration: none;
    color:white;
}

.active a {
    background:#c7081b !important;
    text-decoration: none;
    color:white;
}

.show{
    background-color: #000000ab!important;
transition: all 0.3s ease;
}
